<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--  与直接整合mybatis相比，少了数据库连接和连接池配置等信息  -->
    <!-- 指定路径下的实体类支持别名(默认实体类的名称,首字母小写), @Alias注解可设置别名 -->
    <typeAliases>
<!--        <package name="cn.tzh.mybatisdemo.entity"/>-->
<!--        <typeAlias alias="user" type="cn.pxl.entity.User"/>-->
    </typeAliases>
    <!-- 指定Mapper接口的路径 -->
    <mappers>
        <mapper resource="mybatisMapper/UserMapper.xml"/>
    </mappers>
</configuration>
